.form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0 10px 0;

	input {
		width: 300px;
		min-width: 10%;
		border: 2px solid #7c39e9cc;
		border-radius: 5px;
		background-color: rgb(14, 14, 14);
		color: #fff;
		padding-left: 10px;
		height: 30px;
		margin-right: 10px;
		margin-bottom: 10px;

		&:last-child {
			width: 70%;
			background-color: rgb(255, 255, 255);
			color: #000000;

			cursor: pointer;
			margin-bottom: 0;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
	}

	&__date-end {
		display: flex;
		flex-direction: row;
	}

	button {
		border: none;
		background-color: rgb(124, 57, 233, 0.8);
		border-radius: 5px;
		height: 30px;
		cursor: pointer;

		&:hover {
			transition: ease-in-out 0.2s;
			transform: scale(0.98);
		}
	}
}
